<div id="<%= dom_id ofertum %>">
  <table>
    <tr>
      <td>
        <strong>Saca:</strong>
        <%= ofertum.saca %>
      </td>
      <td>
        <strong>Tipo:</strong>
        <%= ofertum.tipo %>
      </td>
      <td>
        <strong>Origem:</strong>
        <%= ofertum.origem %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Descricao:</strong>
        <%= ofertum.descricao %>
      </td>
      <td>
        <strong>Quantidade estoque:</strong>
        <%= ofertum.quantidade_estoque %>
      </td>
      <td>
        <strong>Barter:</strong>
        <%= ofertum.barter %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Vendedor:</strong>
        <%= ofertum.vendedor_id %>
      </td>
      <td>
        <strong>Updated at:</strong>
        <%= ofertum.updated_at %>
      </td>
      <td>
        <strong>Created at:</strong>
        <%= ofertum.created_at %>
      </td>
    </tr>
  </table>
</div>
